.off {
    display:none;
}

body {
    background-color: #000000;
  padding: 0px;
  margin: 0px;
}

#gradient {
 width: 100%;
 height: 800px;
 padding: 0px;
 margin: 0px;
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 160%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 50%
}

.form {
    width: 100%;
    height: 100px;
    padding-top: 20px;
}

textarea {
    float: left;
    width: 80%;
    border-radius: 10px;
}

.our-button {
    margin-left: 2.5%;
    float: left;
    width: 15%;
    height: 54px;
    border-radius: 10px;
}

.sentiment_score {
    color: #fff;
    font-size: 32pt;
}

label {
    color: pink;
    font-size: 32pt;
}

#results1 {
    background: white;
}

@media only screen and (max-width: 568px) {

    .main-title {
        width: 80%;
    }

    #userInput {
        width: 100%;
        min-height: 50px;
        max-height: 300px;
    }

    #submitbutton {
        margin-top: 20px;
        /* padding: 0; */
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
}

@media only screen and (max-width:875px) and (min-width: 569px) {

    .main-title {
        width: 80%;
    }

    #userInput {
        width: 100%;
        min-height: 50px;
        max-height: 300px;
    }

    #submitbutton {
        margin-top: 20px;
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
}

@media only screen and (min-width: 876px) {

    #userInput {
        width: 100%;
        min-height: 50px;
        max-height: 300px;
    }

    #submitbutton {
        margin-top: 20px;
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
}
